/* Panel Section - Footer */
.shared-com-PanelSectionFooter__container {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0, 0.06);
    border-block-start: 1px solid rgb(0, 0, 0, 0.15);
    color: #1a1a1a;
    block-size: 41px;
    margin-block-start: -1px;
    padding: 0;
}

.shared-com-PanelSectionFooter__button {
    flex: 1 1 auto;
    block-size: 100%;
    margin-block: 0;
    margin-inline: 1px;
    padding: 12px;
    text-align: center;
}

.shared-com-PanelSectionFooter__button > .text-shortcut {
    color: #808080;
    font-family: 'Lucida Grande', ui-monospace, monospace;
    font-size: 0.847em;
}

.shared-com-PanelSectionFooter__button:hover {
    background-color: rgb(0, 0, 0, 0.06);
}

.shared-com-PanelSectionFooter__button:hover:active {
    background-color: rgb(0, 0, 0, 0.1);
}

.shared-com-PanelSectionFooter__button--default {
    background-color: #0996f8;
    box-shadow: 0 1px 0 #0670cc inset;
    color: #fff;
}

.shared-com-PanelSectionFooter__button--default:hover {
    background-color: #0670cc;
    box-shadow: 0 1px 0 #005bab inset;
}

.shared-com-PanelSectionFooter__button--default:hover:active {
    background-color: #005bab;
    box-shadow: 0 1px 0 #004480 inset;
}

.shared-com-PanelSectionFooter__separator {
    background-color: rgb(0, 0, 0, 0.1);
    inline-size: 1px;
    z-index: 99;
}
