@import '../reset_css/vars.css';

.shared-com-PanelListItem__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    block-size: 24px;
    padding: 0 16px;
}

.shared-com-PanelListItem__container:not(.disabled):hover {
    background-color: var(--shared-com-PanelListItem__container__hover--bg-color, rgba(0, 0, 0, 0.06));
    border-block-end: 1px solid var(--shared-com-PanelListItem__container__hover--border-color, rgba(0, 0, 0, 0.1));
    border-block-start: 1px solid var(--shared-com-PanelListItem__container__hover--border-color, rgba(0, 0, 0, 0.1));
}

.shared-com-PanelListItem__container:not(.disabled):hover:active {
    background-color: var(--shared-com-PanelListItem__container__active--bg-color, rgba(0, 0, 0, 0.1));
}

.shared-com-PanelListItem__container.disabled {
    color: var(--shared-com-PanelListItem__container__disabled--color, #999);
}

.shared-com-PanelListItem__icon {
    flex-grow: 0;
    flex-shrink: 0;
    inline-size: var(--shared-com-PanelListItem__icon--inline-size);
    block-size: var(--shared-com-PanelListItem__icon--block-size);
    margin-inline-end: var(--shared-com-PanelListItem__icon--margin-inline-end);
}

.shared-com-PanelListItem__text {
    flex-grow: 10;
    inline-size: var(--shared-com-PanelListItem--inline-size, unset);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.shared-com-PanelListItem__text-shortcut {
    color: var(--shared-com-PanelListItem__text-shortcut--color, #808080);
    /* stylelint-disable-next-line font-family-name-quotes */
    font-family: 'Lucida Grande', ui-monospace, monospace;
    font-size: 0.847em;
    justify-content: flex-end;
}
