/* Based on https://hg.mozilla.org/mozilla-central/file/e57c44d5ec97/browser/components/extensions/extension.css#l338 */
.shared-com-PanelSectionHeader__container {
    display: flex;
    flex-direction: row;
    border-block-end: 1px solid rgb(0, 0, 0, 0.15);
    padding: 16px;
}

.shared-com-PanelSectionHeader__icon {
    background-position: center center;
    background-repeat: no-repeat;
    block-size: 32px;
    margin-inline-end: 16px;
    position: relative;
    inline-size: 32px;
}

.shared-com-PanelSectionHeader__text {
    align-self: center;
    font-size: 1.385em;
    font-weight: lighter;
}
