/* Based on https://hg.mozilla.org/mozilla-central/file/e57c44d5ec97/browser/components/extensions/extension.css#l338 */
.shared-com-PanelSectionForm__container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.shared-com-PanelSectionForm__item {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-block-end: 12px;
}

.shared-com-PanelSectionForm__item:last-child {
    margin-block-end: 0;
}

.shared-com-PanelSectionForm__item label {
    flex-shrink: 0;
    margin-inline-end: 6px;
    text-align: right;
}

.shared-com-PanelSectionForm__item input[type='text'],
.shared-com-PanelSectionForm__item select.browser-style {
    flex-grow: 1;
}
