/* Based on https://hg.mozilla.org/mozilla-central/file/e57c44d5ec97/browser/components/extensions/extension.css#l338 */
.shared-com-PanelSectionList__container {
    display: flex;
    flex-direction: column;
    padding-block: 4px;
    padding-inline: 0;
}

.shared-com-PanelSectionList__separator {
    margin-block: 4px;
    margin-inline: 0;
}
