.popup-c-PopupMainView-ItemListItem__container {
    color: unset;
    text-decoration: unset;
    cursor: default;
}

.popup-c-PopupMainView-ItemListItem__container .shared-com-PanelListItem__text {
    width: var(--popup-subview-width);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
