.popup-c-PopupMainView-ItemListItem__container {
    --panel-item__text--inline-size: var(--popup-subview-inline-size);

    color: unset;
    text-decoration: unset;
    cursor: default;
}

.popup-c-PopupMainView-ItemListItem__container:hover {
    color: unset;
}

.popup-c-PopupMainView-ItemListItem__container:active {
    color: unset;
}

.popup-c-PopupMainView-ItemListItem__container:visited {
    color: unset;
}
