@charset 'utf-8';

@import '../shared/reset.css';
@import '../shared/component/panel.css';
@import '../shared/component/PanelSectionList.css';
@import '../shared/component/PanelListItem.css';
@import './component/PopupIconElement.css';

:root {
    /* sort with https://dxr.mozilla.org/mozilla-central/rev/91134c95d68cbcfe984211fa3cbd28d610361ef1/browser/themes/shared/customizableui/panelUI.inc.css#8 */
    --popup-subview-width: 30em;
}

.popup__listitem_text_inner {
    display: block;
    width: var(--popup-subview-width);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
}
