.popup-c-PopupMainView-ItemListItem__container {
    --shared-com-PanelListItem--inline-size: var(--popup-subview-inline-size);

    contain: content;
    color: unset;
    text-decoration: unset;
    cursor: default;
}

.popup-c-PopupMainView-ItemListItem__container:hover {
    color: unset;
}

.popup-c-PopupMainView-ItemListItem__container:active {
    color: unset;
}

.popup-c-PopupMainView-ItemListItem__container:visited {
    color: unset;
}

:is(.popup-c-PopupMainView-Header__container, .popup-c-PopupMainView-ItemListItem__container) .shared-com-PanelListItem__container {
    --shared-com-PanelListItem__icon--inline-size: 16px;
    --shared-com-PanelListItem__icon--block-size: 16px;
    --shared-com-PanelListItem__icon--margin-inline-end: 1em;
}
