@charset 'utf-8';
@layer foundation, shared, app;

@import '@linkplaces/foundation/src/mod.css' layer(foundation);

@import '@linkplaces/shared/src/reset_css/mod.css' layer(shared);
@import '@linkplaces/shared/src/component/mod.css' layer(shared);

@import './vars.css' layer(app);
@import './component/mod.css' layer(app);
@import './PopupMainView.css' layer(app);
