/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#linkplaces-menu-button {
  -moz-context-properties: fill;
  fill: var(--toolbarbutton-icon-fill);
  list-style-image: url("chrome://linkplaces/skin/toolbaricon.svg");
}

toolbar[brighttext] #linkplaces-menu-button {
  fill: var(--toolbarbutton-icon-fill-inverted);
}

#linkplaces-menu-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #linkplaces-menu-button {
  list-style-image: url("chrome://linkplaces/skin/toolbaricon.svg");
}

/* extend places menu item's width */
#panelMenu_linkplacesMenu > .bookmark-item {
  max-width: none;
}

#sidebar-switcher-linkplaces > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewLinkplacesSidebar"] #sidebar-icon {
  -moz-context-properties: fill;
  fill: var(--icon-fill);
  list-style-image: url("chrome://linkplaces/skin/toolbaricon.svg");
}
