@charset 'utf-8';

.sidebar__list_container {
    margin: 0;
    padding: 0 0 0 2em;
}

.sidebar__listitem_container {
    margin: 5px 0;
}

.sidebar__listitem_container--is_selected {
    background-color: blue;
}

.sidebar__listitem_container--is_opening {
    cursor: pointer;
}

.sidebar__listitem_text_inner {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-top;
}

.sidebar__listitem_text_inner--is_selected {
    color: white;
}

.sidebar__listitem_text_inner--is_separator {
    list-style-type: none;
}
