.sidebar-c-SidebarView__container .shared-com-PanelListItem__container {
    padding: 0 8px 0 16px;
}

.sidebar-c-SidebarView__container .shared-com-PanelListItem__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-top;
}

.sidebar-c-SidebarView__container .shared-com-PanelListItem__text a {
    color: inherit;
    text-decoration: inherit;
    cursor: default;
}

.sidebar-c-SidebarView__container .shared-com-PanelListItem__icon {
    margin-inline-end: 1em;
}
