/* Based on https://hg.mozilla.org/mozilla-central/file/e57c44d5ec97/browser/components/extensions/extension.css */
html,
body {
    background: var(--global-body__background-color, transparent);
    color: var(--global-body__text-color, #222426);
    cursor: default;
    font: caption;
    margin: 0;
    padding: 0;
    user-select: none;
}

body * {
    box-sizing: border-box;
    text-align: start;
}

a {
    color: var(--global-content__link-color, unset);

    &:hover {
        color: var(--global-content__link-color--hover, unset);
    }

    &:active {
        color: var(--global-content__link-color--active, unset);
    }

    &:visited {
        color: var(--global-content__link-color--visited, unset);
    }
}

/* Based on Webkit's `-webkit-direct-focus` */
*:focus {
    outline-color: var(--global-focus-outline-color);
    outline-style: auto;
    outline-width: 5px;
}
