:root {
    --global-content__link-color: initial;
    --global-content__link-color--hover: initial;
    --global-content__link-color--active: initial;
    --global-content__link-color--visited: initial;

    --global-focus-outline-color: #0060df;
}

@media (prefers-color-scheme: dark) {
    :root {
        --global-body__background-color: #38383d;
        --global-body__text-color: rgb(249, 249, 250);

        --shared-com-PanelListItem__container__hover--bg-color: rgb(249, 249, 250, 0.15);
        --shared-com-PanelListItem__container__hover--border-color: rgb(249, 249, 250, 0.15);
        --shared-com-PanelListItem__container__active--bg-color: rgb(249, 249, 250, 0.2);

        --global-content__link-color: #45a1ff;
        --global-content__link-color--hover: #0a84ff;
        --global-content__link-color--active: #0060df;
        --global-content__link-color--visited: #0a8dff;
    }
}
