/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#linkplaces-panel:-moz-system-metric(windows-default-theme) {
  background-color: #EEF3FA;
}
.sidebar-placesTree:-moz-system-metric(windows-default-theme) {
  background-color: transparent;
  border-top: none;
}
