/* Based on https://hg.mozilla.org/mozilla-central/file/e57c44d5ec97/browser/components/extensions/extension.css */
html,
body {
    background: transparent;
    box-sizing: border-box;
    color: #222426;
    cursor: default;
    display: flex;
    flex-direction: column;
    /* stylelint-disable-next-linefont-family-no-missing-generic-family-keyword, font-family-name-quotes */
    font: caption;
    margin: 0;
    padding: 0;
    /* stylelint-disable-next-line property-no-vendor-prefix */
    -moz-user-select: none;
}

body * {
    box-sizing: border-box;
    text-align: start;
}
