.sidebar-com-SidebarListItemView__container {
    contain: content;
    color: unset;
    text-decoration: unset;
    cursor: default;

    &:hover {
        color: unset;
    }

    &:active {
        color: unset;
    }

    &:visited {
        color: unset;
    }
}

.sidebar-com-SidebarListItemView__container .shared-com-PanelListItem__container {
    --shared-com-PanelListItem__icon--inline-size: 16px;
    --shared-com-PanelListItem__icon--block-size: 16px;
    --shared-com-PanelListItem__icon--margin-inline-end: 0.5em;

    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 16px;
    padding-inline-end: 8px;
}
