/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#linkplaces-menu-button {
  list-style-image: url("chrome://linkplaces/skin/button-toolbar.png");
}

#linkplaces-menu-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #linkplaces-menu-button {
  list-style-image: url("chrome://linkplaces/skin/button-panel.png");
}

/*
@media (min-resolution: 2dppx) {
  #linkplaces-menu-button {
    list-style-image: url("chrome://linkplaces/skin/button-toolbar@2x.png");
  }

  #linkplaces-menu-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #linkplaces-menu-button {
    list-style-image: url("chrome://linkplaces/skin/button-panel@2x.png");
  }
}
*/

/* extend places menu item's width */
#panelMenu_linkplacesMenu > .bookmark-item {
  max-width: none;
}

#sidebar-switcher-linkplaces > .toolbarbutton-icon,
#sidebar-box[sidebarcommand="viewLinkplacesSidebar"] #sidebar-icon {
  -moz-context-properties: fill;
  fill: var(--icon-fill);
  list-style-image: url("chrome://linkplaces/skin/button-toolbar.png");
}
