#linkplaces-panel:-moz-system-metric(windows-default-theme) {
	background-color: #EEF3FA;
}
.sidebar-placesTree:-moz-system-metric(windows-default-theme) {
	background-color: transparent;
	border-top: none;
}