@import '../vars.css';

.shared-com-PanelListItem__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 24px;
    padding: 0 16px;
}

.shared-com-PanelListItem__container:not(.disabled):hover {
    background-color: var(--panel-item__hover--bg-color);
    border-bottom: 1px solid var(--panel-item__hover--border-color);
    border-top: 1px solid var(--panel-item__hover--border-color);
}

.shared-com-PanelListItem__container:not(.disabled):hover:active {
    background-color: var(--panel-item__active--bg-color);
}

.shared-com-PanelListItem__container.disabled {
    color: var(--panel-item__disabled--color);
}

.shared-com-PanelListItem__icon {
    flex-grow: 0;
    flex-shrink: 0;
}

.shared-com-PanelListItem__text {
    flex-grow: 10;
}

.shared-com-PanelListItem__text-shortcut {
    color: var(--panel-item__text-shortcut--color);
    font-family: var(--panel-item__text-shortcut--font-family);
    font-size: 0.847em;
    justify-content: flex-end;
}
