/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

#linkplaces-button {
  list-style-image: url("chrome://linkplaces/skin/button-toolbar.png");
}

#linkplaces-button[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #linkplaces-button {
  list-style-image: url("chrome://linkplaces/skin/button-panel.png");
}

@media (min-resolution: 2dppx) {
  #linkplaces-button {
    list-style-image: url("chrome://linkplaces/skin/button-toolbar@2x.png");
  }

  #linkplaces-button[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #linkplaces-button {
    list-style-image: url("chrome://linkplaces/skin/button-panel@2x.png");
  }
}
