#linkplaces-button {
  list-style-image: url("chrome://linkplaces/skin/linkplaces-toolbar.png");
}

#linkplaces-button[checked="true"] {
  list-style-image: url("chrome://linkplaces/skin/linkplaces-toolbar-active.png");
}

@media (min-resolution: 2dppx) {
	#linkplaces-button {
		list-style-image: url("chrome://linkplaces/skin/linkplaces-toolbar@2x.png");
	}

	#linkplaces-button[checked="true"] {
		list-style-image: url("chrome://linkplaces/skin/linkplaces-toolbar-active@2x.png");
	}
}
