.sidebar-com-ListItem__container .shared-com-PanelListItem__container {
    padding: 0 0 0 16px;
}

.sidebar-com-ListItem__container--is-opening {
    display: none;
}

.sidebar-com-ListItem__container .shared-com-PanelListItem__text {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: text-top;
}

.sidebar-com-ListItem__container a {
    color: inherit;
    text-decoration: inherit;
}
