.sidebar-com-SidebarListItemView__container {
    color: unset;
    text-decoration: unset;
    cursor: default;
}

.sidebar-com-SidebarListItemView__container:hover {
    color: unset;
}

.sidebar-com-SidebarListItemView__container:active {
    color: unset;
}

.sidebar-com-SidebarListItemView__container:visited {
    color: unset;
}

.sidebar-com-SidebarListItemView__container .shared-com-PanelListItem__container {
    padding: 0 8px 0 16px;
}

.sidebar-com-SidebarListItemView__container .shared-com-PanelListItem__icon {
    margin-inline-end: 1em;
}

.sidebar-com-SidebarListItemView__icon_img {
    width: 16px;
    height: 16px;
}
