name: CI workflow template
# we need separate CI workflow template to achieve that a CI
# for each of PRs cancellable and one for default branch should run on every commits
# because the runner will use `concurrency.group` in the callee worfklow which is
# configured as cancellable if we don't set `concurrency.group` to caller workflow.
on:
    workflow_call:

permissions:
    contents: read

jobs:
    warmup_dependency_cache:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - uses: ./.github/actions/setup_ci

    build:
        needs: [warmup_dependency_cache]
        runs-on: ubuntu-latest
        strategy:
            matrix:
                variants:
                    - release
                    - debug
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - uses: ./.github/actions/setup_ci
            - name: build
              run: make build_${{ matrix.variants }} -j
              env:
                  CI: true

    lint:
        needs: [warmup_dependency_cache]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - uses: ./.github/actions/setup_ci
            - name: Lint
              run: make lint -j
              env:
                  CI: true

    check_type_integrity:
        needs: [warmup_dependency_cache]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - uses: ./.github/actions/setup_ci
            - name: typecheck
              run: make typecheck -j
              env:
                  CI: true

    check_formatting:
        needs: [warmup_dependency_cache]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - uses: ./.github/actions/setup_ci
            - name: check formatting
              run: make format_check -j
              env:
                  CI: true

    unittest:
        needs: [warmup_dependency_cache]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
            - uses: ./.github/actions/setup_ci
            - name: Run unittests
              run: make test -j
              env:
                  CI: true
